*
{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family:'Poppins',sans-serif;
}
body
{
    margin-top: -24px;
}
/* HEADER */
header
{
    height: 67px;
    width: 100%;
    background-color: rgb(46, 43, 43);
    position: relative;
    padding: 11px 50px 5px 50px;
}
header .block1
{
    height: 60px;
    width: 100%; 
    padding: 0px 30px 0px 30px;
}
/* LOGO */
header .block1 .logo
{
    height: 100px;
    width: 140px;
    margin-top: -25px;
    margin-left: -30px;
}
header .block1 .logo:hover
{
    transition: all .2s ease-in-out;
    transform: scale(1.1);  
}
/* TASKBAR */
header .block1 nav ul 
{
    position: absolute;
    top: 23px;
    right: 280px;
    list-style-type: none;
}
header .block1 nav ul li 
{

    display:inline-block;
}
header .block1 nav ul li a
{
    text-decoration: none; 
    font-size: 17px;
    color: rgb(190, 191, 192);
    padding: 24px;
    border: 0;
    background-color:transparent;
    transition: .4s;
}
header .block1 nav ul li .g1
{
    background-color:rgb(228, 249, 41);
    color:rgb(46, 43, 43);
}
header .block1 nav ul li:not(:last-child) .g2:hover
{
    padding: 24px;
    color: rgb(46, 43, 43);
    background-color:rgb(228, 249, 41); 
}
/*Menu con*/
.sub-menu {
    display: none;
    padding: 0px;
    z-index: 2;
    margin-top: 23px;
    }
    header .block1 nav ul li:hover .sub-menu{
    display: block;
    }
    header .block1 nav ul li .sub-menu{
    position: absolute;
    top: 20;
    left: 0;
    }
    header .block1 nav ul .sub-menu li {
    display: block;
    background: black;
    width: 101px;
    padding: 20px 0;
    }
    header .block1 nav ul li .sub-menu a:hover
    {
        padding: 24px;
        color: rgb(226, 246, 8);
    }
/*DL*/
header .block1 .download
{
    background: transparent ;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: 3px solid rgb(190, 191, 192);
    font-size:17px ;
    color: rgb(190, 191, 192);
    position: absolute;
    top: 13px;
    right: 80px;
}
header .block1 .download:hover
{
    color: rgb(46, 43, 43);
    background: rgb(228, 249, 41) ;
    border: 3px solid rgb(228, 249, 41);
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
/* FOETNITE */
header .block1 .fortnite a
{
    height: 100px;
    width: 300px;
    position: absolute;
    top:13px;
    left: 155px;
    text-decoration: none; 
    font-size: 29px;
    font-family: 'Permanent Marker', cursive;
    color:rgb(237, 239, 241) ;
}
header .block1 .fortnite a:hover
{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    color:rgb(228, 249, 41);
}
/* HEADER */
.body2
{
    width: 1500px;
    height:505px;
    position: relative;
}
.body2 .AB
{
    font-size: 100px;
    font-weight: 600;
    color: aliceblue;
    position: absolute;
    top: 28%;
    left: 200px;
}
.body2 .De
{
    font-size: 45px;
    font-weight: 600;
    color: aliceblue;
    position: absolute;
    top: 49%;
    left: 200px;
}
.body1
{
    display: flex;
    height: 2100px;
    width: 100%;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(223, 228, 233);
}
/* 2 dong dau */
.body1 .aboutus
{
    height: 90%;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 100px;
    background-color:white ;
}
.body1 .aboutus .FAQ
{
    height: auto;
    width: 100%;
    font-size: 15px;
}
.body1 .aboutus .FAQ .Text1
{
    padding:15px 15px 15px 0;
    font-size: 20px;
}
/* doituong */
.body1 .aboutus .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}
  
.body1 .aboutus  .grid-container > div {

    text-align: left;
    font-size: 30px;
}
.body1 .aboutus .grid-container .gal
{
    height: 180px;
    width: 462px;
    position: relative;
    border-bottom: 2px solid black;
    padding-top: 25px;
}
.body1 .aboutus .grid-container .gal a
{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.body1 .aboutus .grid-container .gal a:hover
{
    color: black;
    text-decoration: underline;
}
.body1 .aboutus .grid-container .gal .Ten1
{
    font-size: 20px;
    width: 300px;
    height: 70px;
}
.body1 .aboutus .grid-container .gal .img1
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
}
.body1-1 .nd a
{
    font-size: 40px;
    text-decoration: none;
    color: rgb(9, 83, 136);
}
.body1-1 .nd ul li
{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
.body1-1 .nd p
{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
/* FOOTER */
footer
{
    height: 520px;
    width: 100%;
    background-color: rgb(46, 43, 43);
    position: relative;
    padding: 50px;
    margin-top: -220px;
}
footer .block3
{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 30px;
}
/* social */
footer .block3 .social
{
    height: 70px;
    width: 450px;
    margin-bottom: 16px;
}
footer .block3 .social a 
{
    font-size: 36px;
    color: rgb(190, 191, 192);
    margin-right: 20px;
}
/* Ve lai trang dau */
footer .block3 .btt 
{
    position: absolute;
    right: 30px;
    top: 40px;
}
footer .block3 .btt a
{
    text-decoration: none;
    font-size: 20px;
    color: rgb(190, 191, 192);
}
/* TEEN */
footer .block3 .Teen
{
    position: absolute;
    right: 30px;
    top: 139px;
    height: 135px;
    width: 240px;
}
/* table */
footer .block3 table
{
    height: 180px;
    width: 450px;
    margin-bottom: 30px;
}
footer .block3 table td a
{
    text-decoration: none; 
    color: rgb(190, 191, 192);
}
/* Van bang  */
footer .block3 .vb
{
    font-size: 13px;
    color: rgb(190, 191, 192);
    height: 40px;
    width: 900px;
}
footer .block3 .Nentang
{
    height: 70px;
    width: 358px;
    position: absolute;
    right: 30px;
    bottom: 8px;
}
footer .block3 .Nentang a 
{
    margin-left: 20px;
    font-size: 36px;
    color: rgb(190, 191, 192);
}
footer .block3 table td a:hover,footer .block3 .Nentang a:hover,
footer .block3 .btt a:hover,footer .block3 .social a:hover
{
 color:rgb(228, 249, 41) ;
}
/* FOOTER */